.container-fluid
  %div{id: 'left-bar', class: 'col-md-4'}
    %div{class: 'minimized', hidden: true}
      %button{class: 'btn btn-default btn-block', id: 'btn-restore-search', title: 'Restore Search Panel'}
        %span{class: 'glyphicon glyphicon-arrow-right'}
    %div{class: 'panel minimizable'}
      %div{class: 'panel-heading'}
        %div{class: 'input-group'}
          %input{type: 'text', 
                 class: 'form-control input-lg', 
                 size: 64, 
                 placeholder: 'Try \'stun\'',
                 id: 'search-input',
                 tabindex: 1}
          %span{class: 'input-group-btn'}
            %button{class: 'btn btn-success btn-lg', id: 'btn-execute-search'}
              %span{class: 'glyphicon glyphicon-search'}
      %div{class: 'panel-body', id: 'panel-search-result-body'}
        %div{class: 'panel panel-primary reveal-on-keyup', hidden: true}
          %div{class: 'panel-heading'}
            Hero
            %span{class: 'badge pull-right', id: 'hero-result-count'}
          %ul{class: 'list-group panel-search-result', id: 'hero-result'}
        %div{class: 'panel panel-primary reveal-on-keyup', hidden: true}
          %div{class: 'panel-heading'}
            Skills
            %span{class: 'badge pull-right', id: 'skill-result-count'}
          %ul{class: 'list-group panel-search-result', id: 'skill-result'}
        %div{class: 'panel panel-primary reveal-on-keyup', hidden: true}
          %div{class: 'panel-heading'}
            Effects
            %span{class: 'badge pull-right', id: 'effect-result-count'}
          %ul{class: 'list-group panel-search-result-infinte', id: 'effect-result'}
  %div{id: 'right-bar', class: 'col-md-8'}
    %div{id: 'toolbar', hidden: true, class: 'row'}
      %div{class: 'col-xs-6'}
        %a{id: 'btn-maximize-compare', href: '#'} &laquo; Maximize This Table
        &nbsp;
        &nbsp;
        &nbsp;
        %a{id: 'btn-remove-all-compare', href: '#'}
          %span{class: 'glyphicon glyphicon-remove'}
          Remove All
      %div{class: 'col-xs-6 pull-right'}
        %span{class: 'input-group'}
          %span{class: 'input-group-addon', 
                id: 'permalink-addon',
                title: 'Use this link to share your team setup'} Permalink
          %input{type: 'text', class: 'form-control', 
                 id: 'permalink', 
                 readonly: true}
    %table{id: 'compare-table', hidden: true}
      %thead
        %tr
      %tbody
        %tr
        %tr
        %tr
        %tr
        %tr

    = render partial: 'stack_table'

:javascript
  window.preload = #{@preload.to_json};
  window.url_friendly = #{@url_firendly.to_json};

= javascript_include_tag 'launch_search'
= javascript_include_tag 'bst_interface_compare'
= javascript_include_tag 'bst_interface_stack'
= javascript_include_tag 'render_attributes'
= javascript_include_tag 'preload_compare'
= javascript_include_tag 'permalink'