- @visible = (defined? @full and @full) ? 'true' : 'false'

- if @visible == 'true'
  %div{id: 'tier-table-toolbar'}
    %h4
      %strong Hero Tierlist

%div{class: 'col-xs-12'}
  %table{id: 'tier-table', 'data-height' => '32em'}
    %thead
      %tr
        %th{'data-field' => 'element', 'data-formatter' => 'format_hero_element', 'data-sortable' => 'true'} E
        %th{'data-field' => 'stripped_name', 'data-sortable' => 'true', 'data-formatter' => 'format_compact_name_with_dynamic_buttons'} Name
        %th{'data-field' => 'adventure', 'data-sortable' => 'true', 'data-sorter' => 'tier_sorter', 'data-formatter' => 'format_generic_with_null_handler', 'data-visible' => 'false'} PvE
        %th{'data-field' => 'd_hard', 'data-sortable' => 'true', 'data-sorter' => 'tier_sorter', 'data-formatter' => 'format_generic_with_null_handler'} 
          D Hard
          %sup{class: 'glyphicon-red'} NEW
        %th{'data-field' => 'cr_easy', 'data-sortable' => 'true', 'data-sorter' => 'tier_sorter', 'data-visible' => "#{@visible}", 'data-formatter' => 'format_generic_with_null_handler'} CR Easy
        %th{'data-field' => 'cr_normal', 'data-sortable' => 'true', 'data-sorter' => 'tier_sorter', 'data-formatter' => 'format_generic_with_null_handler'} CR Norm
        %th{'data-field' => 'raid', 'data-sortable' => 'true', 'data-sorter' => 'tier_sorter', 'data-visible' => "#{@visible}", 'data-formatter' => 'format_generic_with_null_handler'} Raid
        %th{'data-field' => 'pvp', 'data-sortable' => 'true', 'data-sorter' => 'tier_sorter', 'data-formatter' => 'format_generic_with_null_handler'} PvP
        
        %th{'data-field' => 'tower', 'data-sortable' => 'true', 'data-sorter' => 'tier_sorter', 'data-visible' => "#{@visible}", 'data-formatter' => 'format_generic_with_null_handler'} Tower
        %th{'data-field' => 'boss', 'data-sortable' => 'true', 'data-sorter' => 'tier_sorter', 'data-visible' => "#{@visible}", 'data-formatter' => 'format_generic_with_null_handler'} Boss

= javascript_include_tag 'stat_table'
:javascript
  $('#tier-table').bootstrapTable({
    url: '/tiers/fetch',
    showColumns: true,
    toolbar: '#tier-table-toolbar',
    onPostBody: function() {
      resize_once('#tier-table');
      activate_links('#tier-table');
    },
    onSort: function() {
      resize_bst_area('#tier-table');
      activate_links('#tier-table');
    }
  });

  var tier_rank = {
    'SS': 100,
    'S+': 91,
    'S' : 90,
    'S-': 89,
    'A+': 81,
    'A' : 80,
    'A-': 79,
    'B+': 71,
    'B' : 70,
    'B-': 69,
    'C+': 61,
    'C' : 60,
    'C-': 59,
    'D+': 51,
    'D' : 50,
    'D-': 49,
  };

  function tier_sorter(_a, _b) {
    a = _a == undefined ? -1 : tier_rank[_a.split(' ')[0]];
    b = _b == undefined ? -1 : tier_rank[_b.split(' ')[0]];

    if (a > b) return 1;
    if (a < b) return -1;
    return 0;
  }

  function format_generic_with_null_handler(value) {
    return value || '-';
  }