%div{class: 'col-xs-2'}
  %div{id: 'mechanics-navbar'}
    %ul{class: 'nav nav-pills nav-stacked'}
      %li
        %a{href: '#hit_counts'} Hit Counts
      %li
        %a{href: '#stat_modifiers'} Stat Modifiers
      %li
        %a{href: '#status_effects'} Status Effects
      %hr
      %li
        %a{href: '#friendship_quests'} Friendship Quests
      %li
        %a{href: '#guide_quests'} Guide Quests
      %li
        %a{href: '#masteries'} Masteries
%div{class: 'col-xs-10', id: 'scrollable-scrollspy'}
  #hit_counts
  = render template: 'mechanics/hit_counts'
  #stat_modifiers
  = render template: 'mechanics/stat_modifiers'
  #status_effects
  = render template: 'mechanics/status_effects'
  #friendship_quests
  = render template: 'mechanics/friendship_quests'  
  #guide_quests
  = render template: 'mechanics/guide_quests'
  #masteries
  = render template: 'mechanics/masteries'

:javascript
  $('#scrollable-scrollspy').scrollspy({
    target: '#mechanics-navbar'
  });

  $(window).on('resize', function() {
    resize_bst_area('#stat-modifiers-table', true);
    resize_bst_area('#status-effects-table', true);
    resize_bst_area('#masteries-table', true);
    resize_bst_area('#friendship-quests-table', true);
    resize_bst_area('#guide-quests-table', true);
  })  

  $('#mechanics-navbar a').on('click', function(e) {
    e.preventDefault();

    var hash = this.hash;
    $('#scrollable-scrollspy').animate({
      scrollTop: $(hash).offset().top
    }, 250, function() {
      window.location.hash = hash;
    });
  });