!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    /=%meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}
    %title Seven Knights Database
    /= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    /= javascript_include_tag 'application', 'data-turbolinks-track' => true
    = javascript_include_tag 'jquery.min'
    = javascript_include_tag 'jquery-ui.min'
    = javascript_include_tag 'bootstrap.min'
    = javascript_include_tag 'bootstrap-table.min'
    = javascript_include_tag 'utilities'
    /= javascript_include_tag 'bootstrap-select.min'
    = javascript_include_tag 'bootstrap-slider.min'
    = javascript_include_tag 'bootstrap-table-filter-control.min'
    = stylesheet_link_tag    'application'
    = stylesheet_link_tag    'bootstrap.min'
    = stylesheet_link_tag    'bootstrap-theme.min'
    = stylesheet_link_tag    'bootstrap-table.min'
    /= stylesheet_link_tag    'bootstrap-select.min'
    = stylesheet_link_tag    'bootstrap-slider.min'
    = csrf_meta_tags
  %body
    %nav{class: 'navbar navbar-inverse'}
      %div{class: 'container-fluid'}
        %div{class: 'navbar-header'}
          %a{class: 'navbar-brand', href: '/'} Seven Knights Database

        %div{class: 'navbar-collapse'}
          %ul{class: 'nav navbar-nav navbar-left'}
            %li{class: 'dropdown'}
              %a{href: '#', class: 'dropdown-toggle', 'data-toggle' => 'dropdown', role: 'button', 'aria-haspopup' => true, 'aria-expanded' => false}
                Encyclopaedia
                %sup{class: 'glyphicon-red'} NEW
                <span class='caret'></span>
              %ul{class: 'dropdown-menu'}
                %li{class: "#{ApplicationHelper.set_active self, '/mechanics'}"}
                  %a{href: '/mechanics'} 
                    Game Mechanics
                    %sup{class: 'glyphicon-red'} NEW
                %li{class: "#{ApplicationHelper.set_active self, '/equips'}"}
                  %a{href: '/equips'} 
                    Equipments
                    %sup{class: 'glyphicon-red'} NEW
                %li{class: "#{ApplicationHelper.set_active self, '/equip_recommendations'}"}
                  %a{href: '/equip_recommendations'} 
                    Equip Recommendations
                %li{class: 'divider'}
                %li{class: "#{ApplicationHelper.set_active self, '/coupons'}"}
                  %a{href: '/coupons'} 
                    Coupons

          %ul{class: 'nav navbar-nav navbar-right'}
            %li
              %a{href: 'https://github.com/gbudiman/skdb/commits/master',
                 target: '_github_blank',
                 id: 'versioning'} 
                #{ApplicationHelper::CLIENT}
                &nbsp;|&nbsp;
                #{ApplicationHelper::VERSION}
            %li
              %a{class: 'navbar-brand pull-right', 
                 href: 'https://github.com/gbudiman/skdb',
                 title: 'GitHub Project Page',
                 target: '_github_blank'} 
                GitHub
                %span{class: 'glyphicon glyphicon-new-window'}
    = yield
